.movieList{
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;  
    padding-bottom: 20px;
    background-color: transparent;
}